/* Block Element Modifier (BEM) methodology,
that helps you to achieve reusable components and code sharing in the front-end.
The idea behind it is to divide the user interface into independent blocks.
It helps to achieve reusable components and code sharing in the front-end.

A double leading dash in class names (e.g. .btn--red) is used for defining custom properties */

body {
  font-family: "Roboto", sans-serif;
}

.alert-container .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.site-wide-alert {
  border-radius: 0;
  margin-bottom: 0;
  padding: 5px 15px;
  background-color: #eec802;
  border-color: #eec802;
}

.callout-container {
  /* 100vh - the height of the viewport is equal to the height of the device's window,
   meaning that the background image will cover the entire screen */
  height: 100vh;
  /* no-repeat - the image is not repeated, meaning it will only be displayed once
  bottom right - the image is positioned at the bottom right corner of the container
  fixed - the image is fixed in the viewport, which means that it will stay in the same position even if the page is scrolled
  cover - the image is scaled to be as large as possible so that the container is completely covered by the background image */
  background: url(../images/whiskey-background.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover; /* Chrome, Safari, newer versions of Opera and Edge, almost all iOS browsers including Firefox for iOS*/
  -moz-background-size: cover; /* Firefox */
  -o-background-size: cover; /* For pre-WebKit versions of Opera */
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

/* The opaque overlay, which is used to darken the background image */
.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.quotes-container {
}

.features-container {
}

.favorites-container {
}

/* Page headers */
.page-header {
  margin-bottom: 0;
  border-bottom: 0;
  text-align: center;
}

.page-header h2 {
  margin-top: 0;
}

/* Contant containers */

.contant-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Navbar */

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  margin-bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .25);
  border: 0;
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar .navbar-nav a {
  font-weight: bold;
}

/* Block dividers */

.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
  background-color: #444;
}

.block-divider--orange {
  background-color: #f05f40;
}

.block-divider--short {
  width: 35px;
}

/* Jumbotron */

.jumbotron {
  background-color: transparent;
}

.jumbotron h1 {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

.jumbotron .lead {
  color: #a9a9a9;
  margin: 25px 0;
}

.jumbotron small {
  font-size: 60%;
  font-style: italic;
  color: #d0d0d0 !important;
}

/* Buttons */

.btn--cta {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

.btn--red {
  color: white;
  background-color: #f05f40;
  border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
  background-color: #df4929;
  border-color: #df4929;
  color: white;
}
