body {
  padding-top: 3rem;
  font-family: "Roboto", sans-serif;
}

.alert-container {
}

.callout-container {
  /* 100vh - the height of the viewport is equal to the height of the device's window,
   meaning that the background image will cover the entire screen */
  height: 100vh;
  /* no-repeat - the image is not repeated, meaning it will only be displayed once
  bottom right - the image is positioned at the bottom right corner of the container
  fixed - the image is fixed in the viewport, which means that it will stay in the same position even if the page is scrolled
  cover - the image is scaled to be as large as possible so that the container is completely covered by the background image */
  background: url(../images/whiskey-background.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover; /* Chrome, Safari, newer versions of Opera and Edge, almost all iOS browsers including Firefox for iOS*/
  -moz-background-size: cover; /* Firefox */
  -o-background-size: cover; /* For pre-WebKit versions of Opera */
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

/* The opaque overlay, which is used to darken the background image */
.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.quotes-container {
}

.features-container {
}

.favorites-container {
}


/* Block dividers */
.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--short {
  width: 35px;
}

/* Jumbotron */
.jumbotron {
  background-color: transparent;
}

.jumbotron h1 {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

.jumbotron .lead {
  color: #a9a9a9;
  margin: 25px 0;
}

.jumbotron small {
  font-size: 60%;
  font-style: italic;
  color: #d0d0d0 !important;
}